
body{
	background-color: #D8D8D8;
	text-align: center;
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	overflow: auto;
}


footer {
	position:absolute;
	text-align: center;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	bottom: 0;
	left: 0;
	right: 0;
	border:none;
	background-color: grey;
	border-top: 1px solid #2E2E2E

	}


	#question{
		/*position:relative;
		text-align: center;
		left:50px;
		top: 50px;*/
	}
	
	#radioContainer{
		position:relative;
		/*position:absolute;*/
		border-style:solid ;
		/*width: 500px;*/
		width:40%;
		/*left: 700px;*/
		/*top:160px;*/
		margin:auto;

	}
	
	#buttonContainer{
		position:relative;
		top:80px;
	}
	
	
	#scorebox{
	/*
	border-style:groove;
	background-color: #ccc;
	border-color: red;
	*/
	}
	
	#outerscorebox{
	position:relative;
	border-style:groove;
	width: 10%;
	/*height: 20px;*/
	border-color: black;
	margin:auto;
	
	}
	
	#start{
		margin: 40px;
	}